.attribution {
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.btn {
    width: 40px;
    height: 40px;
    color: White;
    border: none;
    background-color: #262f38;
    margin: 0 auto 20px auto;
}

.btn:hover {
    width: 40px;
    height: 40px;
    color: White;
    border: none;
    background-color: hsl(25, 97%, 53%);
    margin: 0 auto 20px auto;
}

.btn:focus {
    width: 40px;
    height: 40px;
    color: White;
    border: none;
    background-color: gray;
    margin: 0 auto 20px auto;
}

a {
    text-decoration: none;
}

.ctn1 {
    margin: 100px auto 0 auto;
    color: white;
    background-color: #1c232d;
    width: 30%;
    padding: 20px;
    border-radius: 15px;
}

.ctn2 {
    margin: 100px auto 0 auto;
    color: white;
    background-color: #1c232d;
    width: 30%;
    padding: 20px;
    border-radius: 15px;
    justify-content: end;
    text-align: center;
}

.submit {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 45px;
}

.submit:hover {
    background-color: white;
    color: black;
    border: none;
    border-radius: 45px;
}

.main {
    margin-top: 1rem;
    line-height: 2;
}

.main1 {
    margin-top: 1rem;
    line-height: 2;
    font-weight: 900;
}

.star1 {
    background-color: #262f38;
}

body {
    background-color: #141519;
}

.rate {
    color: orange;
    background-color: #272d37;
    padding: 0.1rem;
    width: fit-content;
    margin: 0.9rem auto;
    padding: 0.4rem 1.5rem;
    border: none;
    border-radius: 0.9rem;
}

#secondscreen {
    display: none;
}

#firstscreen {
    opacity: 100%;
}

@media(min-width: 200px) and (max-width: 999px) {
    #firstscreen {
        width: 90%;
    }
    #secondscreen {
        width: 90%;
    }
    .container-fluid {
        width: 90%;
    }
}

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}